html{
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

.envelopeContainer {
  height: 600vh;
  background: fixed url(../img/bg.jpg) center center no-repeat;
}

.boxShadow {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#envelope {
  position: sticky;
  top: calc(50vh - 20vw);
  width: 50vw;
  min-width: 20rem;
  height: 30vw;
  margin: auto;
  transform-style: preserve-3d;
  --translateYDistance: 0rem;
  transform: translateY(var(--translateYDistance));
  cursor: pointer;
  --rotatedeg:0deg;
  --translateZDistance:0rem;
  transition: all 0.5s, opacity 1s;
  --opacity:1;
}

#envelope.big:hover{
  transform: scale(1.05);
}

#envelope.big:active {
  transform: scale(1);
}

.envelopePart {
  width: 0;
  height: 0;
  transition: all 0.5s, opacity 1s;
  opacity: var(--opacity);
}

#envelope::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  min-width: 20rem;
  height: 30vw;
  background-color: brown;
  z-index: 1;
  transition: all 0.5s, opacity 1s;
  opacity: var(--opacity);
}

#envelopeTop {
  position: absolute;
  top: 0;
  left: 50%;
  border-left:transparent 25vw solid;
  border-right:transparent 25vw solid;
  border-top:tomato 15vw solid;
  transform: translateX(-50%) rotateX(var(--rotatedeg));
  transform-origin: 50% 0;
  z-index: 4;
  transition: all 0.5s, opacity 1s;
  opacity: var(--opacity);
}

#envelope::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 0;
  border-left:transparent 25vw solid;
  border-right:transparent 25vw solid;
  border-top:brown 15vw solid;
  transform: translateX(-50%) rotateX(var(--rotatedeg));
  transform-origin: 50% 0;
  z-index: 1;
  opacity: var(--opacity);
  transition: all 0.5s, opacity 1s;
}

#envelopeLeft {
  position: absolute;
  left: 0;
  top: 0;
  border-top: transparent 15vw solid;
  border-left:pink 25vw solid;
  border-bottom:pink 15vw solid;
  border-right: transparent 25vw solid;
  z-index: 3;
  transform: translateZ(100rem);
}

#envelopeRight {
  position: absolute;
  right: 0;
  top: 0;
  border-top: transparent 15vw solid;
  border-left:transparent 25vw solid;
  border-bottom:pink 15vw solid;
  border-right: pink 25vw solid;
  z-index: 3;
  transform: translateZ(100rem);
}

#page {
  position: absolute;
  left: 50%;
  bottom:0;
  width: 48vw;
  height: 28vw;
  background-color: wheat;
  --translateYDistance:0rem;
  transform: translateX(-50%) translateY(var(--translateYDistance)) translateZ(var(--translateZDistance));
  z-index: 2;
  transition: all 0.5s, opacity 1s;
}

.contentContainer {
  height: 300vh;
  background: fixed url(../img/bg_color.jpg) center center no-repeat;
}

#content {
  position: sticky;
  top: calc(50vh - 20vw);
  width: 50vw;
  min-width: 20rem;
  height: 30vw;
  background-color: wheat;
  margin: auto;
  --opacity:0;
  opacity: var(--opacity);
}