html{
  font-size: 62.5%;
  box-sizing: border-box;
  cursor: url(../img/cursor.png),auto;
  min-width: 100rem;
}

.container {
  width: 100%;
  min-width: 100rem;
  margin: auto;
  position: relative;
}

.envelopeContainer {
  height: 600vh;
  background: fixed url(../img/bg.jpg) center center no-repeat;
  background-size: 150% ;
  transition: all 0.5s;
}

.boxShadow {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#clickHint {
  position: absolute;
  top: calc(50vh - 5vw);
  left: 50vw;
  width: 10rem;
  height: 10rem;
  transform: translateX(-50%);
  opacity: 0;
  background: url(../img/click_hint.png) center center no-repeat;
  background-size: 200%;
  transition: all 0.5s;
  z-index: 6;
}

@keyframes upDown {
  0% {
    top: calc(50vh - 5vw)
  }
  100% {
    top: 50vh
  }
}

#envelope {
  position: sticky;
  top: calc(50vh - 20vw);
  width: 50vw;
  min-width: 50rem;
  height: 30vw;
  min-height: 30rem;
  margin: auto;
  transform-style: preserve-3d;
  --translateYDistance: 10rem;
  transform: translateY(var(--translateYDistance));
  --rotatedeg:0deg;
  --translateZDistance:0rem;
  transition: all 0.5s, opacity 1s;
  --opacity:1;
}

#envelope.big:hover{
  transform: scale(1.05);
}

#envelope.big:active {
  transform: scale(1);
}

.envelopePart {
  width: 0;
  height: 0;
  transition: all 0.5s, opacity 1s;
  opacity: var(--opacity);
}

#envelope::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  min-width: 50rem;
  height: 30vw;
  min-height: 30rem;
  background-color: brown;
  z-index: 1;
  transition: all 0.5s, opacity 1s;
  opacity: var(--opacity);
}

#envelopeTop {
  position: absolute;
  top: 0;
  left: 50%;
  border-left:transparent 25vw solid;
  border-right:transparent 25vw solid;
  border-top:tomato 15vw solid;
  transform: translateX(-50%) rotateX(var(--rotatedeg));
  transform-origin: 50% 0;
  z-index: 4;
  transition: all 0.5s, opacity 1s;
  opacity: var(--opacity);
}

#envelope::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 0;
  border-left:transparent 25vw solid;
  border-right:transparent 25vw solid;
  border-top:brown 15vw solid;
  transform: translateX(-50%) rotateX(var(--rotatedeg));
  transform-origin: 50% 0;
  z-index: 1;
  opacity: var(--opacity);
  transition: all 0.5s, opacity 1s;
}

#envelopeLeft {
  position: absolute;
  left: 0;
  top: 0;
  border-top: transparent 15vw solid;
  border-left:pink 25vw solid;
  border-bottom:pink 15vw solid;
  border-right: transparent 25vw solid;
  z-index: 3;
  transform: translateZ(100rem);
}

#envelopeRight {
  position: absolute;
  right: 0;
  top: 0;
  border-top: transparent 15vw solid;
  border-left:transparent 25vw solid;
  border-bottom:pink 15vw solid;
  border-right: pink 25vw solid;
  z-index: 3;
  transform: translateZ(100rem);
}

#page {
  position: absolute;
  left: 50%;
  bottom:0;
  width: 48vw;
  min-width: 48rem;
  height: 28vw;
  min-height: 28rem;
  background-color: wheat;
  --translateYDistance:0rem;
  transform: translateX(-50%) translateY(var(--translateYDistance)) translateZ(var(--translateZDistance));
  z-index: 2;
  transition: all 0.5s, opacity 1s;
}

.contentContainer {
  height: 300vh;
  background: fixed url(../img/bg_color.jpg) center center no-repeat;
  background-size: 120%;
}

#content {
  position: sticky;
  top: calc(50vh - 20vw);
  width: 50vw;
  min-width: 50rem;
  height: 30vw;
  min-height: 30rem;
  background-color: wheat;
  margin: auto;
  --opacity:0;
  opacity: var(--opacity);
}

#content::after {
  content: '';
  width: 15rem;
  height: 15rem;
  position: absolute;
  right: -3rem;
  bottom: 0;
  background:url(../img/chocolate.png) center center no-repeat;
  background-size: 150%;
  opacity: var(--opacity);
}

.galleryContainer {
  height: 100vh;
  background: url(../img/gallery_bg.png) left top;
  cursor: auto;
}

#gallery {
  position: absolute;
  top: 5vh;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  min-width: 60rem;
  height: 80vh;
  transform: translateX(-50%);
  background-color: wheat;
}

#galleryList {
  display: flex;
  flex-direction: row;
  width: 50vw;
  min-width: 50rem;
  justify-content: space-between;
}

#galleryList li {
  height: 10vw;
  min-height: 10rem;
  max-height: 20vh;
  width: 10vw;
  min-width: 10rem;
  max-width: 20vh;
  border: 4px white solid;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  cursor: pointer;
}

#galleryList li:hover {
  transform: scale(1.1);
  border-color: rgb(56,96,209);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#galleryList li.active {
  border-color: rgb(56,96,209);
}

#galleryImg{
  width: 50vw;
  min-width: 50rem;
  height: 50vh;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/merrychristmas.jpg);
  transition: all 1s;
}

#galleryImg:hover {
  background-size: cover;
}

.bottombar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgb(56,96,209);
}

@media screen and ( min-width:100rem ) {
  #clickHint {
    top: calc(50vh - 5rem);
    left: 50rem;
  }

  @keyframes upDown {
    0% {
      top: calc(50vh - 5rem)
    }
    100% {
      top: 50vh
    }
  }

  #envelope {
    top: calc(50vh - 20rem);
  }

  #envelopeTop {
    border-left:transparent 25rem solid;
    border-right:transparent 25rem solid;
    border-top:tomato 15rem solid;
  }

  #envelopeTop::after {
    border-left:transparent 25rem solid;
    border-right:transparent 25rem solid;
    border-top:tomato 15rem solid;
  }

  #envelopeLeft {
    border-top: transparent 15rem solid;
    border-left:pink 25rem solid;
    border-bottom:pink 15rem solid;
    border-right: transparent 25rem solid;
  }

  #envelopeRight {
    border-top: transparent 15rem solid;
    border-left:transparent 25rem solid;
    border-bottom:pink 15rem solid;
    border-right: pink 25rem solid;
  }

  #content {
    top: calc(50vh - 20rem)
  }
}